# Supabase Configuration
VITE_SUPABASE_URL="https://uaviwngzmxeczthocphk.supabase.co"
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY="sb_publishable__q2lZe9tM5KW_0EgFoID6g_o224HVeb"

# Paystack Configuration
VITE_PAYSTACK_PUBLIC_KEY="pk_test_4780224111528477144dd1597a724c7a94cdf54e"
PAYSTACK_SECRET_KEY="sk_test_70a1058a90bb7d696e463e18fd4fc9b77110364f"

# GhDataConnect API
GH_DATACONNECT_API_KEY="127|gXiJPpYc0CqI8lkbX2uoHUtswotm5Qmf4Uy6MGSpbf16e956"

# App Configuration
VITE_APP_NAME="VeloxTopUp"
VITE_APP_URL="https://veloxtopup.shop"
